 body{
    margin: 0;
    padding: 0;
}
#form{
    width: 400px;
  
    margin: 15vh auto 0 auto;
    border-radius: 10px;
    padding: 50px;   
     box-shadow: 5px 5px 5px 10px rgba(100, 99, 99, 0.1); 
     background-color: #fff; 
 
}
.form-floating{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.span{
    margin-top: 16px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.img{
    font-size: -10px;
}

/* .form-group label{
    font-weight: bold;
    font-size: 20px;
    color: white;
} 
.form-group input{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: #787575;
} */
 .btn{
    margin-left: 70px;
    width: 40%;
    margin-top:12%;
}
  .for{
    float: right;
  }

 