body{
    margin: 0;
    padding: 0;
}
.form-container{

    max-width: 400px;
    margin: auto;
    margin-top: 12%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 0px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.form-container h2 {
    display: block;
    font-size: 25px;
     color: #203864;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px; 
}
.form-floating label i {
    margin-right: 8px;
}
.span{
    margin-top: 16px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 58%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-check{
    margin-top: 25px;
}

 .btn{
    margin-left: 80px;
    width: 40%;
    margin-top:12%;
}
  .for{
    float: right;
  }

 